:root {
    --border-color: lightgray;
    --container-background-color: #f4f4f4;
    --background-color: #ffffff;
    --button-color: #ff5f58;
    --button-hover-color: red;
    --chart-bars-color: gray;
    --font-color: #3D3D3D;
}